.DS_Store
node_modules
out
dist
tmp
*.swp
.turbo
*.log
*.tsbuildinfo
.npm
.eslintcache
*.tgz
.yarn-integrity
.env
.env.tmp
.env.test
.env.local
.env.staging
.env.production
.cache
.vscode
.idea
storybook-static
.astro
.hubql